.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-left: auto;
    flex-wrap: wrap;
  }
  
  .flex-item {
    border: 50px solid white;   
    padding: 10px;
  }
  